# Use ML Algorithm called DecisionTree to predict if the stock would increase or decrease

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [11]:
#store the dataset in a dataframe 
data= pd.read_csv("Tesla_stock.csv")
data.head()    #display the data

         Date       Open   High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900

KeyError: "None of ['Date'] are in the columns"

In [23]:
#manipulate data
#target- closing price comparision to check if the values increase or decrease

In [60]:
#set date as index
#data.set_index('Date')
data["price_up"]= np.where(data["Close"].shift(-1) > data["Close"], 1,0)
data

,Open,High,Low,Close,Adj Close,Volume,price_up
Date,,,,,,,
2010-06-29,19.000000,25.000000,17.540001,23.889999,23.889999,18766300,0
2010-06-30,25.790001,30.420000,23.299999,23.830000,23.830000,17187100,0
2010-07-01,25.000000,25.920000,20.270000,21.959999,21.959999,8218800,0
2010-07-02,23.000000,23.100000,18.709999,19.200001,19.200001,5139800,0
2010-07-06,20.000000,20.000000,15.830000,16.110001,16.110001,6866900,0
...,...,...,...,...,...,...,...
2020-01-28,568.489990,576.809998,558.080017,566.900024,566.900024,11788500,1
2020-01-29,575.690002,589.799988,567.429993,580.989990,580.989990,17801500,1
2020-01-30,632.419983,650.880005,618.000000,640.809998,640.809998,29005700,1
2020-01-31,640.000000,653.000000,632.520020,650.570007,650.570007,15719300,1
2020-02-03,673.690002,786.140015,673.520020,780.000000,780.000000,47065000,0

In [90]:
#split the data set into feature(X) and target(Y)
X = data.drop(['price_up'],axis=1)
y= data["price_up"]
X, y

(                  Open        High         Low       Close   Adj Close  \
 Date
 2010-06-29   19.000000   25.000000   17.540001   23.889999   23.889999
 2010-06-30   25.790001   30.420000   23.299999   23.830000   23.830000
 2010-07-01   25.000000   25.920000   20.270000   21.959999   21.959999
 2010-07-02   23.000000   23.100000   18.709999   19.200001   19.200001
 2010-07-06   20.000000   20.000000   15.830000   16.110001   16.110001
 ...                ...         ...         ...         ...         ...
 2020-01-28  568.489990  576.809998  558.080017  566.900024  566.900024
 2020-01-29  575.690002  589.799988  567.429993  580.989990  580.989990
 2020-01-30  632.419983  650.880005  618.000000  640.809998  640.809998
 2020-01-31  640.000000  653.000000  632.520020  650.570007  650.570007
 2020-02-03  673.690002  786.140015  673.520020  780.000000  780.000000

               Volume
 Date
 2010-06-29  18766300
 2010-06-30  17187100
 2010-07-01   8218800
 2010-07-02   5139800
 2010-07-06   6866900
 ...              ...
 2020-01-28  11788500
 2020-01-29  17801500
 2020-01-30  29005700
 2020-01-31  15719300
 2020-02-03  47065000

 [2416 rows x 6 columns],
 Date
 2010-06-29    0
 2010-06-30    0
 2010-07-01    0
 2010-07-02    0
 2010-07-06    0
              ..
 2020-01-28    1
 2020-01-29    1
 2020-01-30    1
 2020-01-31    1
 2020-02-03    0
 Name: price_up, Length: 2416, dtype: int32)

In [91]:
#split dataset for 80% training and  20% testing
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2)

In [93]:
#create the model
model= DecisionTreeClassifier()
model.fit(X_train,y_train)  #train the dataset

DecisionTreeClassifier()

In [94]:
#check the performance of the test data set
model.score(X_test, y_test)  # hence there are 50% changes that the stock might increase or decrease

0.506198347107438

In [95]:
#model predictions
y_pred= model.predict(X_test)
y_pred

array([1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1])

In [96]:
#show actual values in test data set
y_test

Date
2011-03-09    0
2015-09-30    0
2016-12-22    1
2015-04-27    0
2018-08-15    0
             ..
2018-09-21    1
2015-08-12    1
2015-10-23    1
2019-06-07    1
2018-05-11    0
Name: price_up, Length: 484, dtype: int32